@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    /* 1rem=10px; */
}

:root{
    --primary-color:#000839;
    --primary-shades:#00020b;
    --para-color:#80849c;
    --helper-color:#1264fa;
    --white:#fff;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    display: inline-block;
    width:100%;
}

li{
    list-style-type: none;
}

h1,h2,h3,h4{
    color: var(--primary-color);
}

.para{
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--para-color);
}

/* ----------------------------------------------header and navbar--------------------------------- */


.header{
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.4rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-bar{
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.nav-bar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.5rem;
}

.nav-bar-list .nav-bar-link:hover,
.nav-bar-list .nav-bar-link:active{
    color: var(--helper-color);
}

.nav-bar-link{
    text-transform: uppercase;
}

.mobile-nav-icon{
    font-size: 4rem;
    color: var(--primary-color);
}

.mobile-navbar-btn{
    display: none;
}

.mobile-navbar-btn .mobile-nav-icon[name="close"]{
    display: none;
}

.section{
    padding: 9.6rem 0;
    /* gap: 3rem; */
}

.container{
    max-width: 130rem;
    margin: 0 auto ;
    /* gap: 3rem; */
}
.grid{
    display: grid;
    gap: 9.6rem;
}

.grid-two-column{
    grid-template-columns: repeat(2,1fr);
}
.hero-btn{
    margin-top: 2rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.6rem 3.2rem;
    border-radius: 10rem;
    background-color: var(--helper-color);
    color: var(--white);
    transition: all 0.2s linear;
}

.hero-btn:hover, .hero-btn:active{
    /* background-color: var(--primary-color); */
    transform: scale(1.05);
}

.section-hero{
    position: relative;
}

.home::before{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 9.6rem;
    right: 0;
    width: 30%;
    height: 50%;
    background-color: #e6e6eb;
    z-index: -1;
}

.primary-heading{
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.primary-para{
    font-size: 1.8rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--primary-color);
}
.section-hero .para{
    margin-top: 2rem;
    margin-bottom: 3.2rem;
}


.hero-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hero-image img{
    height: 90%;
    box-shadow: 0 0 10rem 0 rgba(0,0,0,0.1);
}

.hero-img-overlay{
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    left: -10%;
    padding: 0 4rem;
}

.hero-img-overlay .para{
    color: var(--white);
}

.hero-img-overlay .para1{
    margin-bottom: 1rem;
}

.hero-img-overlay .para:nth-child(2){
    margin: 0;
    font-weight: bold;
}

.hero-img-overlay .para:last-child{
    margin: 0;
}


.footer{
    background-color: #e6e6eb;

}

.footer-nav-bar{
    display: flex;
    align-items: center;
    
}

.footer-nav-bar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
    font-size: 3rem;
}

.footer-para1,.footer-para2{
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.social:hover, .social:active{
    font-size: 5rem;
    color: var(--helper-color);
}


/* ------------------------------------------------------About Page--------------------------------------------------------------- */

.about-hero-img{
    text-align: center;
    margin: 5% auto 2% auto;
}

.about-main-img{
    border-radius: 50%;
    width: 20%;
    padding-bottom: 2rem;
}
.about-main-heading{
    font-size: 4rem;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: var(--primary-color);
}

.about-main-para{
    font-size: 2rem;
    padding-bottom: 6rem;
}

.about-grid{
    gap: 4rem;
}

/* -------------------------------------------------------Contact page------------------------------------------------------ */

.contact-para{
    font-size: 2.5rem;
}

.contact-hero-image{
    padding-top: 3rem;
    width: 40%;
    margin: 0 auto;
}
.contact-button{
    display: block;
    margin: auto 0;
    padding: 2rem 3.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    box-shadow: -0.5rem 3rem 2rem -2rem rgb(86, 93, 113);
    transform: translate(0 -0.4rem);
    color: var(--white);
    background-color: var(--helper-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    line-height: inherit;
    flex: 0 auto;
    -webkit-appearance: button;
    border-color: var(--helper-color);
}

.contact-button:hover{
    background-color: #4549ff;
    box-shadow: -5px 30px 20px -16px rgb(46 89 204 / 45%);
    -webkit-transform: translate(0,-4px);
    -ms-transform: translate(0,-4px);
    transform: translate(0,-4px);
}

.message-box{
    border-style: solid;
    padding: 5rem 3rem;
    border-radius: 2rem;
    border-color: #e6e6eb;
}

#inputdefault{
    font-size: 1.6rem;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 1rem;
    height: 4rem;
    border-color: #e6e6eb;
    border-style: solid;
    text-align: left;
    text-indent: 0px;
    text-rendering: normal;
    cursor: text;
    /* word-spacing: 1rem; */
}

#inputdefault:hover, #inputdefault:active, #inputdefault:focus{
    outline: none !important;
    border-color: var(--helper-color);
}

#inputdefault[name="project-idea"]{
    height: 10rem;
}
.project-label{
    color: var(--primary-color);
}
.contact-message-heading{
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}


/* -------------------------------------------------------------Skill PAge------------------------------------------------------------- */

.skill-heading{
    overflow: hidden;
    text-align: center;
    color: var(--primary-color);
}
.skill-heading:before,
.skill-heading:after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.skill-heading:before{
    right: 0.5em;
    margin-left: -50%;
}
.skill-heading:after{
    left: 0.5em;
    margin-right: -50%;
}

.skill-img{
    width: 60%;
    text-align: center;
}

.hero-data{
    text-align: center;
}

.cc-link,.cf-link{
    color: var(--primary-color);
}

.cc-link:hover,.cc-link:active,.cf-link:hover,.cf-link:active{
    color: var(--helper-color);
}



/* -----------------------------------------------------Media Query-------------------------------------------------------------------------- */

@media(max-width:1250px){
    .container{
        padding: 0 6rem;
    }
    html{
        font-size: 56.25%;
        /* 1rem=9px; */
    }
}

@media(max-width:980px){
    html{
        font-size: 50%;
        /* 1 rem=10px */
        overflow-x: hidden;
    }
    
    body{
        overflow-x: hidden;
    }
    .container{
        max-width: 96rem;
    }

    .section-hero .grid-two-column{
        grid-template-columns: 1fr;
    }

    .section-hero .grid .grid-two-column{
        grid-template-columns: 1fr 1fr;
    }

    .nav-bar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(0);
        transition: all 0.3s linear;

        opacity: 0;
        visibility: none;
        pointer-events: none;   
        overflow-x: hidden;
    }

    .nav-bar .nav-bar-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    .nav-bar .nav-bar-link{
        color: var(--white);
    }

    .mobile-navbar-btn{
        display: block;
        z-index: 999;
    }

    .active .nav-bar{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        z-index: 99;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close"]{
        display: block;
        color: var(--white);

    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu"]{
        display: none;
        color: var(--white);
    }

    .main::before{
        height: 30%;
    }
    .hero-image img{
        width: 60%;
    }

    .hero-image .hero-img-overlay{
        bottom: -10%;
        font-size: 0.6rem;
        width: 80%;
        left: 0;
    }
}

@media(max-width:768px){
    html{
        font-size: 50%;
        /* 1 rem=10px */
        overflow-x: hidden;
    }
    
    body{
        overflow-x: hidden;
    }
    .container{
        max-width: 720px;
    }

    .hero-image img{
        width: 90%;
    }

    .hero-image .hero-img-overlay{
        width: 100%;
        bottom: 0%;
        /* top: 70%; */
        left: 0;
        padding-bottom: 0;
    }
    .hero-img-overlay .para{
        font-size: 1.0rem;
    }

    .skill-img{
        border-radius: 50%;
    }
}